.App {
  text-align: center;
}

.nav-ul {
  list-style-type: none;
  font-size: 25px;
  overflow: hidden;
}

.nav-li {
  float: right;
  cursor: pointer;
}

.nav-link {
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav-link:hover {
  color: lightblue;
}